@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

#card {
  background-color: #fff;
}
#book-image {
  width: 440px;
  height: 400px;
  margin-bottom: 1rem;
}
